<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550492735628-30mecq9n91dv1qscroe0spc83dhd458d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550492735628-30mecq9n91dv1qscroe0spc83dhd458d</string>
	<key>API_KEY</key>
	<string>AIzaSyDHplQkLlSK4F3OgLFRitFJdXWljUJjQyc</string>
	<key>GCM_SENDER_ID</key>
	<string>550492735628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YS.FYP</string>
	<key>PROJECT_ID</key>
	<string>sustainlife-e9e74</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainlife-e9e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550492735628:ios:a2b2bc4337de92257913a9</string>
</dict>
</plist>